
mixin sketchy()
  <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Kalam:400,700,300.css">
  <svg xmlns="http://www.w3.org/2000/svg" height="10"><defs><filter id="sketchy-filter" x="0" y="0" height="100%" width="100%" color-interpolation-filters="sRGB"><feTurbulence result="turbulenceresult" type="fractalNoise" numOctaves="2" baseFrequency="0.015" in="SourceGraphic" /><feDisplacementMap in2="turbulenceresult" in="SourceGraphic" xChannelSelector="R" yChannelSelector="B" scale="7" /></filter></defs></svg>

  style.
    body {
      filter: url('#sketchy-filter');
      -webkit-filter: url('#sketchy-filter');
      font-family: 'Kalam', cursive;
    }
