include ../../../JPH.jade

div#t1
  +placeholder

div#t2
  +placeholder(200)

div#t3
  +placeholder(200, 500)

div#t4
  +placeholder({w:313, h:666})

div#t5
  +placeholder({h:200, bg:'87ffb8', fg:'#2a0069'})

div#t6
  +placeholder({h:200, w:500, background:'87ffb8', fgColor:'#2a0069', text: 'This is a test'})

