+placeholder({w: 400, h: 100, bg: '#81FF41', fg: '#F918FC', t: 'Placeholder!'})
//- specify width, height, background color, foreground color & text. Same as:
//- {width: 400, height: 100, bgColor: '#81FF41', fgColor: '#F918FC', text: 'Placeholder!'}
