//- https://gist.github.com/geedmo/5682742
//- ----------------------------------
//- Usage:
//- include lorem
//- p
//-   mixin lorem(25)
//- ----------------------------------

//- first letter to uppercase
mixin capitalize(string)
  = string.charAt(0).toUpperCase() + string.slice(1)
//- begin a new sentence
mixin beginSentence(string)
  = '. '
  mixin capitalize(string)

mixin lorem()
  - var args = Array.prototype.slice.call(arguments);
  - var min = args[0]
  - var max = args[1]
  - var colonEvery = 10;
  if max
    - var howmany = lodash.random(min, max);
  else
    - var howmany = min;
  - for (var i = 0; i < howmany; i++) {
    - var nextWord = lorem.words(1)[0];
    if (i == 0)
      mixin capitalize(nextWord)
    else
      if ! parseInt(i % colonEvery) && (howmany - i > colonEvery)
        mixin beginSentence(nextWord)
      else
        = ' ' + nextWord
        if i == howmany - 1
          = '.'
  - }

