mixin rand(minOrMax, max)
  - if(!lodash.isNumber(minOrMax)) throw "Usage Error: +rand() requires at least one argument.";
  - for (var i = 1; i <= lodash.random(minOrMax, max); i++) {
    block
  - }
