extends ./layouts/default.jade


block content
  include ../../JPH.jade

  .row
    .col-md-2
      br
      .sidebar
        b Install
        br
        b Usage
        br
        b Tips
        br
        b Mixins
        ul
          li
            a(href="#lorem") lorem
          li
            a(href="#blokk") blokk
          li
            a(href="#image") image
          li
            a(href="#placeholder") placeholder
          li
            a(href="#maybe") maybe
          li
            a(href="#times") times
          li
            a(href="#rand") rand
          li
            a(href="#wrap") wrap

        b Javascript
        ul
          li
            a(href="#name") name

    .col-md-10
      h1 Jade Prototyping Helpers
      blockquote
        p Collection of mixins and scripts to help in creating rapid front-end prototypes using Jade. Big focus on randomization and 'real' data.

      p This is needed because...

      .row
        .col-md-12
          h2 Install
          p
            b Using npm
          +jade
            :shellsrc
              $ npm install jade-prototyping-helpers
          p
            b Using bower
          +jade
            :shellsrc
              $ bower install jade-prototyping-helpers
          p
            b Manually

          h2 Usage

          h2 Tips
          p Don´t precompile the Jade template
          p Don´t use in production

      h2 Mixins
      .row
        .col-md-12
          h4
            a(name="lorem") +lorem([words=0], [max words=1])
          p Generate random gibbrish words.

      .row
        .col-md-6
          +jade
            include:jadesrc partials/lorem_1.jade
        .col-md-6
          +html
            include partials/lorem_1.jade

      .row
        .col-md-6
          +jade
            include:jadesrc partials/lorem_2.jade
        .col-md-6
          +html
            include partials/lorem_2.jade

      .row
        .col-md-12
          h4
            a(name="blokk") +blokk([blocks=0], [color='#343434'])
          p Generate blocks that look like text.

      .row
        .col-md-6
          +jade
            include:jadesrc partials/blokk_1.jade
        .col-md-6
          +html
            include partials/blokk_1.jade

      .row
        .col-md-6
          +jade
            include:jadesrc partials/blokk_2.jade
        .col-md-6
          +html
            include partials/blokk_2.jade

      .row
        .col-md-12
          h4
            a(name="image") +image({category, width, height})
          div.image-mixin
            p Generates an <code><img></code> tag with a random image from <a href="http://lorempixel.com">lorempixel.com</a>.
            p Available image categories: <code>avatar</code>, <code>abstract</code>, <code>animals</code>, <code>business</code>, <code>cats</code>,
              <code>city</code>, <code>food</code>, <code>nightlife</code>, <code>fashion</code>, <code>people</code>,
              <code>nature</code>, <code>sports</code>, <code>technics</code>, <code>transport</code>.

      .row
        .col-md-6
          +jade
            include:jadesrc partials/image_1.jade
        .col-md-6
          +html
            include partials/image_1.jade

      .row
        .col-md-6
          +jade
            include:jadesrc partials/image_2.jade
        .col-md-6
          +html
            include partials/image_2.jade

      .row
        .col-md-6
          +jade
            include:jadesrc partials/image_3.jade
        .col-md-6
          +html
            include partials/image_3.jade

      .row
        .col-md-12
          h4
            a(name="placeholder") +placeholder({width, height, bgColor, fgColor, text})

      .row
        .col-md-6
          +jade
            include:jadesrc partials/placeholder_1.jade
        .col-md-6
          +html
            include partials/placeholder_1.jade

      .row
        .col-md-6
          +jade
            include:jadesrc partials/placeholder_2.jade
        .col-md-6
          +html
            include partials/placeholder_2.jade

      .row
        .col-md-12
          h4
            a(name="maybe") +maybe

      .row
        .col-md-6
          +jade
            include:jadesrc partials/maybe.jade
        .col-md-6
          +html
            include partials/maybe.jade

      .row
        .col-md-12
          h4
            a(name="times") +times(n)

      .row
        .col-md-6
          +jade
            include:jadesrc partials/times.jade
        .col-md-6
          +html
            include partials/times.jade

      .row
        .col-md-12
          h4
            a(name="rand") +rand([min=0], [max=1])

      .row
        .col-md-6
          +jade
            include:jadesrc partials/rand_1.jade
        .col-md-6
          +html
            include partials/rand_1.jade

      .row
        .col-md-6
          +jade
            include:jadesrc partials/rand_2.jade
        .col-md-6
          +html
            include partials/rand_2.jade

      .row
        .col-md-12
          h4
            a(name="wrap") +wrap('tag', array)

      .row
        .col-md-6
          +jade
            include:jadesrc partials/wrap.jade
        .col-md-6
          +html
            include partials/wrap.jade

      h2 Javascript
      .row
        .col-md-12
          h4
            a(name="name") name

      .row
        .col-md-6
          +jade
            include:jadesrc partials/name.jade
        .col-md-6
          +html
            include partials/name.jade


