extends ./layouts/default.jade


block content
  include ../../JPH.jade

  h1 JPH
  .row
    .col-md-12
      h2 +avatar
    .col-md-6
      +jade
        include:jadesrc partials/avatar.jade

    .col-md-6
      +html
        include partials/avatar.jade

  .row
    .col-md-12
      h2 +blokk()
    .col-md-6
      +jade
        include:jadesrc partials/blokk.jade

    .col-md-6
      +html
        include partials/blokk.jade

